---
layout: minimal
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/brands.min.css" integrity="sha512-WxpJXPm/Is1a/dzEdhdaoajpgizHQimaLGL/QqUIAjIihlQqlPQb1V9vkGs9+VzXD7rgI6O+UsSKl4u5K36Ydw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
#main-header { display: none; }
#social-media ul {
  list-style: none;
  padding-left: 0;
}
#social-media ul > li::before {
  content: "";
  margin-left: 0px;
}
</style>

<h1>{{ page.title }}</h1>

{{ content }}
