<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" type="image/png">
    <title>{{ page.title }}</title>
</head>

<style>
@font-face {
  font-family: 'Inter';
src: url('assets/Inter-VariableFont_opsz,wght.ttf');
font-weight: normal;
font-style: normal;
}
  body { font-family: 'Inter', sans-serif; background: #f8f8f8; margin: 0; padding: 0; color: #333; }
  main {
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 960px;
    padding: 20px;
  }
</style>
<body>
    <main>
        <div class="container">
            {{ content | toc }}
        </div>
    </main>
</body>
</html>
